body {
   
  font-family: sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}
/*About styling*/
.about_container{
  background: DarkCyan url('/photos/') no-repeat center center fixed;
  -webkit-background-size: cover;
 
 
  -moz-background-size: cover;
 

  -o-background-size: cover;

  background-size: cover;
 
   font-family: sans-serif;
  
   height: 600px;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;

.row::after {
  display: table;
  clear: both;
  content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
  box-sizing: border-box;
}

/*############### Nav bar ############*/
.navbar {
  width: 100%;
  margin: 0;
}

.navbar ul {
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  float: left;
}

ul.topnav li.topnav-right {
  float: right;
}

ul li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;
}

ul li a:hover {
  background-color: #0080ff;
  color: #fff;
}

ul li.dropdownIcon {
  display: none;
}

h1 {
 
  color: white;
 
  font-size: 50px;
  margin-bottom: 0px;
  
}

div.about-container img {
  display: block;
  margin: auto;
  box-shadow: -2px/*H*/ -2px/*V*/ 20px/*B*/ 2px/*S*/ rgba(0/*Sh*/,0/*BG*/, 0/*BX*/,.15/*Op*/ ), 2px 2px 17px 2px rgba(0,0,0,1);
}

h2 {
  
  color: white;
  font-size: 18px;
  margin-top: 0px;
  
}  

h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-top: 100px;
}

.yellow {
  border-top: 5px double #F5A623;
  width: 250px;
  border-bottom: none;
  border-right: none;
}
}

.bio { 
  color: White;
  font-size: 14px;
  }


.me {
  width:150px;
  height: 150px;
 
  border-radius: 100%;
 
  border-style: solid;

  border-color: white;

  margin-top: 40px;
  }
  
 .about {
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }
 
 .gray {
   background-color: #919191;
   width: 50x;
 }
 
 .box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
}

.clear {
  clear: both;
}

h4 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
}

.full-width {
  width: 100%;
}

.skills-and-tools {
  max-width: 400px;
  margin: 40px auto;
}
.icons {
  text-align: center;
}
.icon {
  margin: 30px 0;
}

.contact-me {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;
}

.contact-headline {
  color: white;
}

.contact-info {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}

.contact-link {
  color: white;
  font-weight: bold;
  font-size: 13px;
}


/*######### Mobile ###########*/

@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }
  
  ul li.dropdownIcon {
    display: block;
    float: right;
  }
  
  ul.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  ul.responsive {
    position: relative;
  }
  
  ul.responsive li {
    display: inline;
    float: none; 
  }
  
  ul.responsive li a {
    display: block;
    text-align: left;
  }
