body {
   
  background: url('/photos/bg.jpg') no-repeat center center fixed; 
 
  -webkit-background-size: cover;
 
  -moz-background-size: cover;
 
  -o-background-size: cover;
 
  background-size: cover;
  font-family: sans-serif;
  
}



h1 {
 
  color: white;
 
  font-size: 50px;
  margin-bottom: 0px;
  
}



h2 {
  
  color: white;
 
  font-size: 18px;
  margin-top: 0px;
  
}  




.bio { 
  
  color: white;

  font-size: 14px;
  }


.me {
   
  height: 150px;
 
  border-radius: 100%;
 
  border-style: solid;

  border-color: white;

  margin-top: 40px;
  }
  
 .about {
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }
 
 .gray {
   background-color: #919191;
   width: 50x;
 }
